---
layout: landing-page
---

<section id="main" class="wrapper style1">
    {% for post in site.posts %}
        <div class="wrapper {% cycle 'style1', 'style3' %}">
            <header class="major">
                <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
                <p class="post-meta" style="margin-bottom: 20px;padding-bottom: 0;">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}</p>
            </header>

            <section class="container">
                <p>
                    {% if post.isResume == 1 %}
                        {{ post.resume }}
                    {% else %}
                        {{ post.excerpt }}
                    {% endif %}
                </p>
            </section>

            <section class="special">
                <ul class="actions">
                    <li><a href="{{ site.baseurl }}{{ post.url }}" class="button {% cycle '', ''%}">Read More</a></li>
                </ul>
            </section>

        </div>
    {% endfor %}
</section>
